/* GLOBAL DESIGN */
@import url(http://fonts.googleapis.com/css?family=RobotoDraft:200,300,400,500,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:200,300,400,500,400italic);

* {
  font-family : 'RobotoDraft', 'Roboto', YuGothic, '游ゴシック', sans-serif;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  line-height: 160%;
  min-width: 480px;
}
body {
  height: auto;
  margin: 20px;
}
h1 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.1rem;
}
a {
  color: black;
  text-decoration:none;
}
input, select, label, span, p, a {
  font-weight: 400;
}
input[type="text"],
input[type="button"],
select{
  border: 1px solid lightgray;
  border-radius: 0;
  background-color: white;
  padding: 0.2rem 0.4rem;
}
input[type="button"]:hover {
  background-color: lightgray;
}
input#mod_username {
  border: 0;
  width: 100%;
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
  margin-left: -0.4rem;
  padding: 0.6rem 0.4rem;
}

#wrapper {
  height: auto;
  overflow: hidden;
}
#mod_logo {
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.8rem;
}
#mod_controls {
  margin-top: 1rem;
}
#mod_controls > div {
  width: 180px;
  float: left;
  margin-right: 20px;
}
#mod_controls > div:last-child {
  width: 270px;
  margin-right: 0;
}
#mod_controls > div select,
#mod_controls > div input[type="text"],
#mod_controls > div input[type="radio"],
#mod_controls > div input[type="checkbox"] {
  float: right;
}
#mod_controls .controls_sub {
  font-size: 0.8rem;
}

#settings_wrapper {
  float: right;
  font-size: 0.8rem;
  cursor: pointer;
}
#settings_wrapper span {
  padding: 0 5px;
}
#settings_wrapper span:hover {
  text-decoration: underline;
}

/* MENU PANEL */
#menu_wrapper {
  position: relative;
  min-height: 3rem;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
}
#mod_menus > div {
  float: left;
  width: 170px;
  height: auto;
}
#mod_menus > span {
  float: left;
  height: 40px;
  display: table;
  margin: 0 1rem;
  vertical-align: middle;
}
#mod_menus > span p {
  display: table-cell;
  vertical-align: middle;
}
#mod_menus #mod_manipulate input[type="text"] {
  display: inline-block;
  margin: 0.2rem;
}
.menu_label {
  font-size: 0.8rem;
  display: block;
  padding: 0.3rem 0;
  cursor: pointer;
  background-color: white;
  text-align: center;
  border: 2px solid black;
}
.menu_label:hover {
  background-color: lightgray;
}
.menu_list {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: auto;
  overflow: hidden;
}
.menu_list span:first-child {
  border-top: 2px solid black;
  margin-top: -2px;
}
.menu_list span:last-child {
  border-bottom: 2px solid black;
}
.menu_list span {
  font-size: 0.8rem;
  width: 100%;
  float: left;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  background-color: rgba(256,256,256,0.95);
}
.menu_list span:hover {
  background-color: rgba(200,200,200,0.95);
}
.menu_list span.disabledList {
  color: #888888;
}
.menu_list span.disabledList:hover {
  background-color: white;
}

/* CANVAS CONTAINER */
#mod_display {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#mod_display canvas {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
